
body{
    background: url('./components/Screenshot\ 2024-03-02\ 131638.png') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




.nav-link.active{
border-bottom: 2px solid rgb(91, 48, 91);
}
.container-fluid .navbar-brand{
    font-size: larger;
    font-weight: 400;
    color: rgb(106, 2, 61);
}
.person{
    display: flex;
    background:linear-gradient(45deg,#d2009e,#62d8ff);
    border-radius: 20px;
gap: 5px;
padding:0 24px;

}

